@tailwind base;
@tailwind components;
@tailwind utilities;

.demo-container {
    position: relative;
    border: 2px solid ;
    border-radius: 1em;
    padding: 2rem ;

}

.grid-collapse__wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}


.grid-collapse__wrapper.is-open {
    grid-template-rows: 1fr !important;
}
